.form {
    background-color: #062125;
    padding: 20px;
    border-radius: 10px;
}

.form label {
    color: white;
    opacity: 0.75;
}

#artistName {
    background-color: #0a2e33;
    color: white;
    opacity: 0.75;
}

.form .searchBtn {
    background-color: #062125;
    padding: 5px 10px 5px 10px;
    opacity: 0.75;
    transition: all 0.5 ease;
}

.form .searchBtn:hover {
    background-color: white;
    color: black;
}