.artist-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.artist-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.artist-details {
    margin-right: 40px;
}
  
.artist-details h3 {
    margin-bottom: 15px;
}

.artist-details p {
    opacity: 0.75;
}

.artist-details a {
    text-decoration: none;
    color: #6da5c0;
    transition: all 0.5s ease;
}

.artist-details a:hover {
    color: white;
}

  
.artist-thumbnail {
    width: 220px;
    height: 220px;
    border-radius: 20%;
    overflow: hidden;
    margin-right: 50px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 1);
}
  
.artist-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.artist-bio {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.artist-bio p {
    opacity: 0.75;
}

.artist-images {
    display: flex;
    align-items: center;
}

.artist-images img {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 1);
}

.artist-logo {
    margin: 30px;
}