.Homepage {
  /* put around the vertical center of page */
  height: calc(100vh - 150px);
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.lead {
  opacity: 75%;
  margin-bottom: 30px;
}

.button-container {
  padding-top: 4px;
}

.searchBtn {
  color: white;
  margin: 10px;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border: 2px solid white;
  border-radius: 10%;
}

/* Hover effect */
.searchBtn:hover {
  background-color: white;
  color: black;
  border-color: white;
  transition: all 0.5s ease;
}

.recent {
  margin: 50px;
  opacity: 0.75;
}

